
.icon-down-small:before { content: '\e800'; } /* '' */
.icon-down-1:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-left-thin:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-pencil-1:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-linkedin-2:before { content: '\f0e1'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */